.home_container
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    box-sizing: border-box
    background-color: #f0f0f0
    color: #333
    gap: 1rem
    font-family: 'Arial', sans-serif
    font-size: 1.5rem

    .home-left,
    .home-right
        display: flex
        flex-direction: column
        box-sizing: border-box
        height: 100%

    .home-left
        width: 70%
        gap: 1rem
        background: transparent

    .home-right
        width: 30%
        background: blue
        padding: 20px

.button_group
    display: flex
    overflow: hidden
    justify-content: center
    height: 18%
    background: green

.data_show
    display: flex
    justify-content: center
    height: 32%
    background: yellow
    gap: 0.5rem

    // .data_show_left,
    // .data_show_right
    //     margin: 1rem

    .data_show_left
        height: 100%
        width: 70%
        background: black

    .data_show_right
        height: 100%
        width: 30%
        background: white


.line_chart
    display: flex
    flex-direction: column
    justify-content: center
    height: 50%
    background: pink
