.inventory-container .ant-table-row {
    border-bottom: 1px solid #f0f0f0;
  }
  
  .inventory-container .ant-card-head {
    background: #fff7e6;
  }
  
  .ant-pagination-item-active {
    border-color: #ffa940;
  }
  
  .ant-pagination-item-active a {
    color: #ffa940;
  }